*.blend1
*.blend2
honeybadger/workfolder/badger.fbx
honeybadger/workfolder/badger smoothed fixed HG.blend
honeybadger/workfolder/badger smoothed fixed HG.fbx
honeybadger/workfolder/badger smoothed unfucked UVs.blend
honeybadger/workfolder/badger smoothed unfucked UVs.fbx
honeybadger/workfolder/badger smoothed.blend
UD/_workfolder/New Textures/Glock/glock.001_Roughness.png
UD/_workfolder/New Textures/Glock/glock.001_Normal_OpenGL.png
UD/_workfolder/New Textures/Glock/glock.001_Normal.png
UD/_workfolder/New Textures/Glock/glock.001_Mixed_AO.png
UD/_workfolder/New Textures/Glock/glock.001_Metallic.png
UD/_workfolder/New Textures/Glock/glock.001_Height.png
UD/_workfolder/New Textures/Glock/glock.001_Base_Color.png
