*.blend1
*.blend2
honeybadger/workfolder/badger.fbx
honeybadger/workfolder/badger smoothed fixed HG.blend
honeybadger/workfolder/badger smoothed fixed HG.fbx
honeybadger/workfolder/badger smoothed unfucked UVs.blend
honeybadger/workfolder/badger smoothed unfucked UVs.fbx
honeybadger/workfolder/badger smoothed.blend
